/**** WON ****/
.musica{
	opacity: 0;
	background-image: none;
}
.marcianito{
	float: left;
	margin: 6% 0px 0px 5%;
	width: 100px;
}
.resetWrapper{
	float: left;
	width: 100%;
}
.reset{
	text-align: center;
	float: left;
	width: 6%;
	background-color: rgba(0, 0, 0, 0.78);
	padding: 1%;
	margin: 6% 46% 1% 46%;
	border-radius: 8px;
	font-size: 26px;
	color: green;
	text-decoration: none;
	font-family: 'Helvetica';
}